body {
  font-family: Arial, sans-serif;
}

#calendar1, #calendar2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}

.date {
  border: 1px solid #000;
  padding: 1em;
  text-align: center;
  background-color: #fff;
}

.date.selected {
  background-color: yellow;
}

button {
  margin: 1em;
}

.date:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.date:nth-child(7n), .date:nth-child(6n) {
  background-color: #f3f3f3;
}
